@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700");
body, html, button, input, select, textarea, a, p, li, div {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

section, footer {
  position: relative;
  width: 100%;
}

button, input, select, .btn, .form-control {
  border-radius: 0;
  outline: none;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

img.shadow {
  border: 1px solid #e5e5e5;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.flex-1 {
  flex: 1;
}

button.nav-toggler, button.nav-close {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

button.nav-toggler {
  position: fixed;
  right: 24px;
  top: calc(88px/2 - 12px);
  background: url("/assets/img/ic_nav_toggle.png") 0 0/25px 25px;
  z-index: 1000;
}

button.nav-toggler:hover {
  cursor: pointer;
}

button.nav-close {
  background: url("/assets/img/ic_nav_close.png") 0 0/25px 25px;
  margin: 8px 8px 0 0;
}

.modal-backdrop.show {
  opacity: 0.75;
}

.with-errors ul li, div.with-errors {
  font-size: 12px;
  color: #90a4ae;
  margin-top: 4px;
}

.alert {
  background: none;
  border-radius: 0;
}

.alert-success {
  color: #37c871;
  border: 2px solid #37c871;
}

.alert-danger {
  color: #ff2a2a;
  border: 2px solid #ff2a2a;
}

.gcaptcha {
  transform: scale(0.7);
}

@media (max-width: 767px) {
  .gcaptcha {
    transform: scale(1);
  }
}

.mobile-nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 24px 1px;
  background: rgba(255, 255, 255, 0.97);
  z-index: 10000;
}

.mobile-nav .nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 22px;
  text-transform: uppercase;
  color: #444;
}

.navbar {
  height: 88px;
  background: #fff;
  border-bottom: 1px solid #eceff1;
  z-index: 100;
  justify-content: center;
}

.navbar a.nav-link, .navbar a.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 22px;
  text-transform: uppercase;
  color: #444;
  margin: 2px 8px 0 8px;
}

.navbar a.nav-link:hover {
  color: #000;
}

a.btn-outline-dark {
  border: 1px solid #444;
}

a.btn-outline-dark:hover {
  border: 1px solid #000;
  color: #fff;
  background: #000;
  cursor: pointer;
}

a.btn-cta {
  border: 2px solid #ffff02;
  background: #ffff02;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 16px;
}

a.btn-cta:hover {
  background: transparent;
}

button.slick-arrow::before {
  content: '';
}

button.slick-arrow {
  width: 48px;
  height: 48px;
  opacity: 0.7;
}

button.slick-arrow:hover {
  opacity: 1.0;
}

@media (max-width: 576px) {
  button.slick-prev {
    left: -15px;
    z-index: 10;
  }
  button.slick-next {
    right: -15px;
  }
  button.slick-arrow {
    opacity: 1.0;
  }
}

.dn {
  display: none;
}

.anchor {
  display: block;
  height: 87px;
  margin-top: -87px;
  visibility: hidden;
}

.sec-welcome {
  min-height: 480px;
  height: calc(90vh - 88px);
  margin-top: 88px;
  background: #fff url("/assets/img/bg_tnw_book.jpg") no-repeat right bottom;
  background-size: 45% auto;
}

.sec-welcome .claim h1 {
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 24px;
}

.sec-welcome .claim p {
  font-size: 20px;
  line-height: 1.2;
}

.sec-welcome .claim ul {
  padding-left: 24px;
}

.sec-welcome .claim ul li {
  font-size: 18px;
}

@media (max-width: 768px) {
  .sec-welcome {
    background-size: 50% auto;
  }
  .sec-welcome .claim h1 {
    font-size: 36px;
  }
  .sec-welcome .claim p {
    font-size: 20px;
  }
  .sec-welcome .claim ul li {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .sec-welcome {
    background-size: 60% auto;
  }
  .sec-welcome .claim h1 {
    font-size: 30px;
  }
  .sec-welcome .claim p {
    font-size: 18px;
  }
  .sec-welcome .claim ul li {
    font-size: 16px;
  }
}

.sec-companies {
  background: #eceff1;
}

.sec-companies .comp-logo {
  outline: none;
}

.sec-testimonials {
  background: #eceff1;
}

.sec-testimonials .testi {
  position: relative;
  outline: none;
}

.sec-testimonials .box {
  width: 270px;
  min-height: 320px;
  padding: 72px 30px 30px 30px;
  margin: 50px 0 20px;
  background: #fff;
  border: 1px solid #e5e5e5;
}

.sec-testimonials .avatar {
  position: absolute;
  top: 0;
  left: calc(50% - 50px);
}

.sec-testimonials .avatar img {
  border-radius: 50%;
  border: 2px solid #eceff1;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.sec-testimonials .message {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 24px;
}

.sec-testimonials .name {
  font-size: 14px;
  font-weight: bold;
}

.sec-testimonials .role {
  font-size: 14px;
}

.sec-testimonials button.slick-prev {
  background: url("/assets/img/ic_arrow_left.png") no-repeat 0 0/48px 48px;
}

.sec-testimonials button.slick-next {
  background: url("/assets/img/ic_arrow_right.png") no-repeat 0 0/48px 48px;
}

.sec-press {
  color: #fff;
  background: #000;
}

.sec-press h2 {
  font-size: 20px;
}

.sec-topics h2 {
  font-size: 18px;
  font-weight: 600;
}

.sec-topics h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sec-topics p {
  font-size: 14px;
  line-height: 22px;
}

.sec-method {
  background: #eceff1;
}

.sec-method h2 {
  margin-bottom: 24px;
}

.sec-method p {
  font-size: 20px;
  line-height: 36px;
}

.sec-method .profile {
  background: #fff;
}

.sec-method .profile p.caption {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  font-style: italic;
}

.sec-method .profile p.bio {
  font-size: 14px;
  line-height: 1.8;
}

@media (max-width: 400px) {
  .sec-method p {
    font-size: 16px;
    line-height: 28px;
  }
}

.sec-coaches {
  background: #90a4ae;
  color: #fff;
}

.sec-coaches p {
  font-size: 20px;
  line-height: 27px;
}

.sec-coaches p.byline {
  font-style: italic;
}

.sec-coaches .coach {
  background: #fff;
  color: #000;
  outline: none;
  margin: 0 24px;
}

.sec-coaches .coach .role, .sec-coaches .coach .exp, .sec-coaches .coach .bio {
  font-size: 18px;
  line-height: 1.4;
}

.sec-coaches .coach .role, .sec-coaches .coach .bio {
  font-weight: 300;
}

.sec-coaches .picture {
  width: 100%;
  min-width: 370px;
}

.sec-coaches .picture img {
  display: inline-block;
}

.sec-coaches .info {
  margin-left: 24px;
}

.sec-coaches button.slick-prev {
  background: url("/assets/img/ic_arrow_left_white.png") no-repeat 0 0/48px 48px;
}

.sec-coaches button.slick-next {
  background: url("/assets/img/ic_arrow_right_white.png") no-repeat 0 0/48px 48px;
}

.sec-coaches .slick-dots li button:before, .sec-coaches .slick-dots li.slick-active button:before {
  color: #fff;
}

@media (min-width: 1200px) {
  .sec-coaches .picture {
    width: 20%;
  }
}

@media (max-width: 480px) {
  .sec-coaches .coach {
    margin: 0 8px;
  }
  .sec-coaches .coach .role, .sec-coaches .coach .exp, .sec-coaches .coach .bio {
    font-size: 16px;
  }
  .sec-coaches .picture {
    width: 100%;
    min-width: 0;
  }
  .sec-coaches .picture img {
    width: 90%;
    height: 90%;
  }
}

.sec-contact {
  color: #fff;
  background: #000;
}

.sec-contact .contact-form {
  max-width: 540px;
}

.sec-contact .caption {
  font-size: 18px;
  font-weight: 700;
}

.sec-contact .heading {
  margin: 2px 0 44px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}

.sec-contact p {
  font-size: 18px;
  line-height: 26px;
}

.sec-contact .form-group {
  margin: 4px 0;
}

.sec-contact input, .sec-contact select {
  font-size: 13px;
  background: #e5e5e5;
  border: none;
}

.sec-contact input {
  padding: 12px 8px;
}

.sec-contact input:focus, .sec-contact select:focus {
  border-color: #90a4ae;
}

.sec-contact .btn-submit {
  font-size: 14px;
  font-weight: 700;
  padding: 12px 24px;
  margin-top: 8px;
  text-transform: uppercase;
  color: #000;
  background: #ffff02;
  border: 2px solid #ffff02;
  opacity: 1 !important;
}

.sec-contact .btn-submit:hover {
  color: #ffff02;
  background: transparent;
  cursor: pointer;
}

.sec-cta h2 {
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 30px;
}

.sec-cta.cta-1 {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  background: #90a4ae;
}

.sec-cta.cta-1 .btn-cta:hover {
  border: 2px solid #fff;
  color: #fff;
}

.sec-cta.cta-2 {
  background: #fff;
}

.sec-cta.cta-2 .btn-cta:hover {
  border: 2px solid #000;
  color: #000;
}

.eim-modal .modal-dialog {
  max-width: 800px;
}

.eim-modal .modal-content {
  border-radius: 0;
  padding: 12px 24px;
}

.eim-modal .modal-header {
  border: none;
}

.eim-modal .modal-title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.eim-modal .btn-submit {
  font-size: 14px;
  font-weight: 700;
  padding: 12px 24px;
  margin-top: 8px;
  text-transform: uppercase;
  color: #fff;
  background: #90a4ae;
  border: 2px solid #90a4ae;
  opacity: 1 !important;
}

.eim-modal .btn-submit:hover {
  color: #000;
  background: transparent;
  border: 2px solid #000;
  cursor: pointer;
}

.eim-modal .form-group {
  margin: 4px 0;
}

.eim-modal input, .eim-modal select {
  font-size: 13px;
}

.eim-modal input {
  padding: 12px 8px;
}

.eim-modal input:focus, .eim-modal select:focus {
  border-color: #90a4ae;
}

.footer {
  color: #fff;
  background: #000;
  font-size: 14px;
  color: #444;
}

.footer a {
  color: #e5e5e5;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
}

.footer span.credit a, .footer span.credit a:hover {
  color: #444;
}

.social-icon {
  filter: grayscale(100%);
  margin-right: 8px;
  opacity: 0.5;
  transition: all 600ms;
}

.social-icon:hover {
  filter: grayscale(0);
  opacity: 1.0;
}

.cc-window {
  font-family: "Open Sans", sans-serif;
}

.cc-window a, .cc-window a:hover {
  text-decoration: none;
}

.cc-window .cc-btn {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.spinner {
  position: absolute;
  top: 18px;
  left: calc(50% - 35px);
  width: 70px;
  text-align: center;
  opacity: 0.0;
}

.spinner > div {
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */